verrazzano:
  username: verrazzano
  password: {{ vz_console_pass }}
keycloak:
  username: keycloakadmin
  password: {{ keycloak_console_pass }}
rancher:
  username: admin
  password: {{ rancher_console_pass }}
